@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #000312;       /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: grey;   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #000312;  /* creates padding around scroll thumb */
}

@media (pointer: coarse) {
  .background-fixed {
          background-attachment: fixed !important;
  }
}

.head-bg{
  background-image: url("../public/mohammadreza.webp");
}

.header-bg{
  height: 7%;
  box-shadow: 1px 10px 4px 0px rgba(0,0,0,0.48);
  -webkit-box-shadow: 1px 10px 4px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 1px 10px 4px 0px rgba(0,0,0,0.48);
  transition: transform ease;
}